<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this project</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
     <div class="flex justify-center bg-black text-white h-screen">
    <h1 class="md:text-3xl font-mono my-30 absolute">About This Project</h1>
    <h3 class="md:text-4xl font-mono my-60 absolute text-center ">This process is about getting the city weather data with all its details with the help of weather API and displaying it on the web page.</h3>
    <footer class="md:text-2xl font-mono my-150 absolute">Made with 🤍 by Abdulrahman Aref</footer>
     </div>
</body>
</html>